{% extends "basic.html" %}
{%block button%} 
<li class="nav-item">
    <a class="nav-link" href="{{url_for('logout')}}">logout</a>
</li>
{%endblock%}
{%block title%}user {%endblock%}
{% block content %} 

 
    <a href="#">
        <h2>Available Balance: {{ users['AvailableBalance'] }}    </h2>
    </a>
<form method="post">

<div class="form-group">
        <label for="content">Send To</label>
        <textarea name="reciver" placeholder="name"
                  class="form-control">{{ request.form['reciver'] }}</textarea>
</div>
<div class="form-group">
        <label for="password">Value</label>
        <input type="text" name="val"
               placeholder="How much to send" class="form-control"
               value="{{ request.form['val'] }}"></input>
</div>

<div class="form-group">
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
</form>


    {%endblock%}